# Python cache
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
env/
.venv/
onyx/

# Ignore Jupyter junk
*.ipynb_checkpoints/

# Ignore unused folders
Archive/
Non-Essential/

# ALLOW model.pkl2 to be committed
!model.pkl2
